################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DocumentDBSample.Test/obj
/DocumentDBSample.Test/bin
/.vs/config
/packages
